<h1>Readings for <%=h @sensor.name %></h1>

<h4>Readings</h4>
<div id="readings" style="display:none">
<%= render :partial => "reading", :collection => @readings[0..2] %>
<hr/>
</div> <!-- readings -->

<div id="sensor-readings" style="display:none">
<%= render :partial => "readings/reading", :collection => @readings %>
<%= will_paginate @readings %>
</div> <!-- sensor-readings -->

<table>
  <tr>
    <th>Data</th>
    <th>Time</th>
    <th>Show/Edit/Destroy</th>
  </tr>

  <% @readings.each do |reading|  %>
  <tr>
    <td><%=h reading.data %></td>
    <td><%=h reading.updated_at %></td>
    <td><%= link_to 'Show', sensor_reading_path(@sensor, reading) %>/<%= link_to 'Edit', edit_sensor_reading_path(@sensor, reading) %>/<%= link_to 'Destroy', sensor_reading_path(@sensor, reading),
            :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
  <% end %>
</table>
  <%= will_paginate @readings %>

<br/>

<%= link_to 'Back to sensor', sensor_path(@sensor) %> |
<%= link_to 'New reading', new_sensor_reading_path(@sensor) %>

