<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>SEEU: Sensor Enablement for End Users</title>
  	<%= stylesheet_link_tag 'seeu' %>
    <script type="text/javascript" src="javascripts/prototype.js"></script>
    <script type="text/javascript" src="javascripts/effects.js"></script>
  	<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(
      function(){
        setInterval(function(){
          $('#readings').load('/sensors/1/readings');
        }, 3000);
    });
    </script>
  </head>

  <body>
    <div id="page">
      <div id="content">

        <!-- ###### -->
        <!-- HEADER -->
        <!-- ###### -->
        <div id="header">
    		  <%= #image_tag "/images/SEEU.png", :size => "800x117", :mouseover => "/images/SEEU-hover.png" 
          %>
          <h1>SEEU</h1>
	    	</div> <!-- header -->
        <script>
          $('#header').hover(
            function(){
              $(this).addClass('hovering');
            },
            function(){
              $(this).removeClass('hovering');
          });
        </script>

		
        <!-- ####### -->
        <!-- SENSORS -->
        <!-- ####### -->
    		<div id="left-box">
		    	<span class="box-heading"><%= link_to 'Sensors', sensors_path %></span>
		    	<hr>

    			<% for sensor in @sensors %>
    			<div class="<%= cycle('device-entry-odd', 'device-entry-even') %>">
		    		Name: <%= link_to sensor.name, sensor_path(sensor) %><br/>
    				<img src="images/<%=h sensor.model %>.jpg"/><br/>
		    		Description: <%=h sensor.description %><br/>
			    	Recent Readings:

            <ul id="sensor-readings">
              <%= render :partial => "readings/reading", :collection => sensor.readings.reverse[0..2] %>
            </ul> <!-- sensor-readings -->

	    			Config URI: <a href="<%=h sensor.configuration_uri %>"><%=h sensor.configuration_uri %></a><br/>
    			</div> <!-- entry -->
		    	<% end %>
          <%= will_paginate @sensors %>
	    	</div> <!-- left-box -->
		

        <!-- ######### -->
        <!-- ACTUATORS -->
        <!-- ######### -->
    		<div id="right-box">
		    	<span class="box-heading"><%= link_to 'Actuators', actuators_path %></span>
    			<hr>
			
    			<% for actuator in @actuators %>
    			<div class="<%= cycle('device-entry-odd', 'device-entry-even') %>">
    				Name: <%= link_to actuator.name, actuator_path(actuator) %><br/>
			    	<img src="images/<%=h actuator.model %>.jpg"/><br/>
		    		Description: <%=h actuator.description %><br/>
            <% if !actuator.command.data.nil? %>
  		  		Command: <%=h actuator.command.data %> <br/>
	      		<% end %>
			    	Config URI: <a href="<%=h actuator.configuration_uri %>"><%=h actuator.configuration_uri %></a><br/>
	    		</div> <!-- entry -->
    			<% end %>
          <%= will_paginate @actuators %>
	    	</div> <!-- right box -->
		
        <div style="clear:both"></div>
        <hr/>


        <!-- ##### -->
        <!-- RULES -->
        <!-- ##### -->
        <div id="rules">
		    	<span class="box-heading"><%= link_to 'Rules', rules_path %></span>
          <hr/>

          <% @rules.each do |rule| %>
    			<div class="<%= cycle('rules-entry-odd', 'rules-entry-even') %>">
            <%= rule.rule %><br />
          </div> <!-- entry -->
          <% end %>
        </div> <!-- rules -->

      </div> <!-- content -->
      
      <div id="footer">
        &copy; <a href="http://www.sethholloway.com/">Seth Holloway</a> - <a href="http://mpc.ece.utexas.edu/">MPC</a> - <a href="http://www.utexas.edu/">The University of Texas at Austin</a>
      </div> <!-- footer -->
    </div> <!-- page -->
  </body>
</html>
