<% title "Home" %>

<!-- ####### -->
<!-- SENSORS -->
<!-- ####### -->
<div id="left-box">
	<span class="box-heading"><%= link_to 'Sensors', sensors_path %></span>

    <%= render :partial => "sensors/sensor", :collection => @sensors[0..3] %>

	<% if @sensors.length > 4 %>
	<div class="more">
		<%= link_to "... the other sensors (#{@sensors.length-4})", sensors_path %>
	</div>
	<% end %>
</div> <!-- left-box -->


<!-- ######### -->
<!-- ACTUATORS -->
<!-- ######### -->
<div id="right-box">
	<span class="box-heading"><%= link_to 'Actuators', actuators_path %></span>

    <%= render :partial => "actuators/actuator", :collection => @actuators[0..4] %>

	<% if @actuators.length > 5 %>
	<div class="more">
		<%= link_to "... the other actuators (#{@actuators.length-5})", actuators_path %>
	</div>
	<% end %>
</div> <!-- right box -->


<div style="clear:both"></div>
<hr/>


<!-- ##### -->
<!-- RULES -->
<!-- ##### -->
<div id="rules">
	<span class="box-heading"><%= link_to 'Rules', rules_path %></span>

    <%= render :partial => "rules/rule", :collection => @rules[0..4] %>

	<% if @rules.length > 5 %>
	<div class="more">
		<%= link_to "... the other rules (#{@rules.length-5})", rules_path %>
	</div>
	<% end %>
</div> <!-- rules -->
