<% title "Study" %>

<br/>
<div>
  Sensor Enablement for End-Users (SEEU) is the PhD work of <%= link_to 'Seth Holloway', 'http://www.sethholloway.com/' %> under the direction of <%= link_to 'Dr. Christine Julien', 'http://www.ece.utexas.edu/~julien/' %> of the <%= link_to 'Mobile and Pervasive Computing Group', 'http://mpc.ece.utexas.edu/' %> at <%= link_to 'The University of Texas at Austin', 'http://www.utexas.edu/' %><br/>

  Start the server<br/>
  Deploy the SPOT devices<br/>

  Have an opinion? Give us your <%= link_to 'feedback', feedback_path %>!
</div>
