<% title "Show Actuator" %>

<div class="yield">
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @actuator.name %>
</p>

<p>
  <b>Description:</b>
  <% if @actuator.description.nil? %>None<% else %>
  <%= @actuator.description %>
  <% end %>
</p>

<p>
  <b>Manufacturer:</b>
  <%= @actuator.manufacturer %>
</p>

<p>
  <b>Model:</b>
  <%= @actuator.model %>
</p>

<p>
  <b>Valid Values:</b>
  <%= @actuator.valid_values %>
</p>

<p>
  <b><%= link_to "Command", edit_actuator_commands_path(@actuator) %>:</b>
  <%= @actuator.command.data rescue nil %>
</p>

<%= link_to 'Home', root_path %> | 
<%= link_to 'Actuators', actuators_path %> | 
<%= link_to 'Edit', edit_actuator_path(@actuator) %>
</div> <!-- .yield -->