<% title "Show Actuator" %>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @actuator.name %>
</p>

<p>
  <b>Description:</b>
  <%= @actuator.description %>
</p>

<p>
  <b>Manufacturer:</b>
  <%= @actuator.manufacturer %>
</p>

<p>
  <b>Model:</b>
  <%= @actuator.model %>
</p>

<p>
  <b>Command:</b>
  <%= @actuator.command.data rescue nil %>
</p>

<p>
  <b>Data uri:</b>
  <%= link_to @actuator.data_uri, @actuator.data_uri %>
</p>

<p>
  <b>Configuration uri:</b>
  <%= link_to @actuator.configuration_uri, @actuator.configuration_uri %>
</p>


<%= link_to 'Back', actuators_path %> | 
<%= link_to 'Edit', edit_actuator_path(@actuator) %>
