<%= form_for(@sensor) do |f| %>
  <% if @sensor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sensor.errors.count, "error") %> prohibited this sensor from being saved:</h2>

      <ul>
      <% @sensor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 3 %>
  </div>

<div style="display:none">
<div class="field">
  <%= f.label :manufacturer %><br />
  <%= collection_select( :manufacturer, :manufacturer_id, Manufacturer.all, :id, :name ) %>
</div>
<div class="field">
  <%= f.label :model %><br />
  <%= collection_select( :model, :model_id, Model.all, :id, :name ) %>
</div>
</div> <!-- display:none -->

  <div class="field">
    <%= f.label :manufacturer %><br />
    <%= f.text_field :manufacturer %>
  </div>
  <div class="field">
    <%= f.label :model %><br />
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :valid_values %><br />
    <%= f.text_field :valid_values %> (number1..number2 OR value1,value2,value3)
  </div>

  <div style="display:none">
    <div class="field">
      <%= f.label :data_uri %><br />
      <%= f.text_field :data_uri %>
    </div>
    <div class="field">
      <%= f.label :configuration_uri %><br />
      <%= f.text_field :configuration_uri %>
    </div>
  </div> <!-- display:none -->

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
