<div class="sensor">
  <div class="sensor_name">
    <h4><%=h sensor.name %></h4>
    <span><%=h sensor.description %></span>
    <span><%=h sensor.manufacturer %></span>
    <span><%=h sensor.model %></span>
    <span><%=h link_to sensor.data_uri, sensor.data_uri %></span>
    <span><%=h link_to sensor.configuration_uri, sensor.configuration_uri %></span>
  </div> <!-- sensor_name -->
</table> <!-- sensor -->
