<h1>Listing sensors</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Manufacturer</th>
    <th>Model</th>
    <th>Data uri</th>
    <th>Configuration uri</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sensors.each do |sensor| %>
  <tr>
    <td><%= sensor.name %></td>
    <td><%= sensor.description %></td>
    <td><%= sensor.manufacturer %></td>
    <td><%= sensor.model %></td>
    <td><%= link_to sensor.data_uri, sensor.data_uri %></td>
    <td><%= link_to sensor.configuration_uri, sensor.configuration_uri %></td>
    <td><%= link_to 'Show', sensor %></td>
    <td><%= link_to 'Edit', edit_sensor_path(sensor) %></td>
    <td><%= link_to 'Destroy', sensor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Home', root_path %> | 
<%= link_to 'New Sensor', new_sensor_path %>
