<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @sensor.name %>
</p>

<p>
  <b>Description:</b>
  <%= @sensor.description %>
</p>

<p>
  <b>Manufacturer:</b>
  <%= @sensor.manufacturer %>
</p>

<p>
  <b>Model:</b>
  <%= @sensor.model %>
</p>

<p>
  <b>Data uri:</b>
  <%= link_to @sensor.data_uri, @sensor.data_uri %>
</p>

<p>
  <b>Configuration uri:</b>
  <%= link_to @sensor.configuration_uri, @sensor.configuration_uri %>
</p>

<% @sensor.readings.reverse.each_with_index do |reading, count| %>
  <p>Reading: <%=h reading.data %></p>
  <% break if count >= 2 %>
<% end %>

<%= link_to 'Back', sensors_path %> | 
<%= link_to 'Edit', edit_sensor_path(@sensor) %>
