<% title "Show Sensor" %>

<div class="yield">
	
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @sensor.name %>
</p>

<p>
  <b>Description:</b>
  <%= @sensor.description %>
</p>

<p>
  <b>Manufacturer:</b>
  <%= @sensor.manufacturer %>
</p>

<p>
  <b>Model:</b>
  <%= @sensor.model %>
</p>

<p style="display:none">
  <b>Data uri:</b>
  <%= link_to @sensor.data_uri, @sensor.data_uri %>
</p>

<p>
  <b>Valid Values:</b>
  <%= @sensor.valid_values %>
</p>

<p>
  <b><%= link_to "Readings", sensor_readings_path(@sensor) %></b>:
  <div id="sensor-readings" style="display:none">
    <%= render :partial => "readings/reading", :collection => @sensor.readings.reverse[0..2] %>
    <hr/>
  </div>
  <ul id="sensor-readings">
    <%= render :partial => "readings/reading", :collection => @readings %>
  </ul> <!-- sensor-readings -->
  <%= will_paginate @readings %>
</p>

<p style="display:none">
  <b>Configuration uri:</b>
  <%= link_to @sensor.configuration_uri, @sensor.configuration_uri %>
</p>

<br/>
<%= link_to 'Home', root_path %> | 
<%= link_to 'Sensors', sensors_path %> | 
<%= link_to 'Edit', edit_sensor_path(@sensor) %>
<%#= link_to 'Delete', sensor_path(@sensor), :confirm => 'Are you sure?', :method => :delete %>
</div> <!-- .yield -->
