<h3>Mad-Libs</h3>

<% operators_array = [">", ">=", "=", "<=", "<"] %>
<% values_array = Array.new(16) { |i| 65+i } %>
<% conditionals_array = ["", "and", "or"] %>

if <%= collection_select(:sensor, :sensor_id, Sensor.all, :name, :name ) %>
<%= select(:sensor_operator, :sensor_operator, operators_array) %>
<%= select(:sensor_value, :sensor_value, values_array) %>
<%#= select(:conditional, :conditional, conditionals_array) %>
<br/>
then set <%= collection_select(:actuator, :actuator_id, Actuator.all, :name, :name) %> to
<%= select(:actuator_value, :actuator_value, values_array) %>
<br/>

<%= form_for @rule, :html => { :id => "madlib_create" } do |f| %>
	<div class="field" style="display:none">
    <%= f.label :rule %><br />
    <%= f.text_area :rule, :rows => 3 %>
  </div>

	<div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 3 %>
  </div>

  <%= f.submit :name => "Create Madlibs Rule", :valu => "Create Madlibs Rule", :id => "mad-lib-create" %>
<% end %>