<!-- ############### -->
<!-- Magnetic Poetry -->
<!-- ############### -->
<div id="selectors" style="display:none">
<%= text_field :sensor, :sensor_id %>
<%= text_field :sensor_operator, :sensor_operator %>
<%= text_field :sensor_value, :sensor_value %>
<%= text_field :actuator, :actuator_id %>
<%= text_field :actuator_value, :actuator_value %>
</div> <!-- selectors -->

<div id="rules">
  <div id="click-rules">
    <div id="rules-if" style="display: block">
      <span class="clickable" style="display:inline">if</span>
    </div> <!-- rules-if --> 

    <div id="rules-conditionals" style="display: block">
      <span class="clickable" style="display:none">and</span>
      <span class="clickable" style="display:none">then</span>
    </div> <!-- rules-conditionals -->

    <div id="rules-operators">
      <span class="clickable" style="display:none">greater than</span>
      <span class="clickable" style="display:none">greater than or equal to</span>
      <span class="clickable" style="display:none">equal to</span>
      <span class="clickable" style="display:none">less than</span>
      <span class="clickable" style="display:none">less than or equal to</span>
    </div> <!-- rules-operators -->

    <div id="rules-sensors">
      <% Sensor.all.each do |s| %>
      <span class="clickable" style="display:none"><%= s.name %></span>
      <% end %>
    </div> <!-- rules-sensors -->

    <div id="rules-actuators">
      <% Actuator.all.each do |a| %>
        <span class="clickable" style="display:none"><%= a.name %></span>
      <% end %>
    </div> <!-- rules-actuators -->

    <div id="rules-sensor-values">
      <span class="editable" style="display:none">value</span><span id="valid-sensor-values"></span>
    </div> <!-- rules-values -->

    <div id="rules-actuator-values">
      <span class="editable" style="display:none">value</span><span id="valid-actuator-values"></span>
    </div> <!-- rules-actuator-values -->
  </div> <!-- click-rules -->

	<h4>Rule</h4>
  <div id="click-rules-written">   
  </div><br/>
	
	<%= form_for @rule, :html => { :id => 'magnetic_create' } do |f| %>
		<div class="field" style="display:none">
	    <%= f.label :rule %><br />
	    <%= f.text_area :rule, :rows => 3 %>
	  </div>

		<div class="field">
	    <%= f.label :description %>: (Optional) Describe what your rule is supposed to do<br/>
	    <%= f.text_area :description, :rows => 3 %>
	  </div>

    <%= f.submit :name => "Create Rule", :value => "Create Rule", :id => "magnetic-create", :disabled => true %>
	<% end %>
</div> <!-- rules -->
