<%= form_tag do %>

  Sensors:
  <%= collection_select(:sensor, :sensor_id, Sensor.all, :name, :name, options = { :prompt => "" } ) %>
  <br/>
  <input name="sensor_chosen" id="sensor_chosen" type="hidden" value="1"/>
  Readings:
  <%= collection_select(:readings, :readings_id, Reading.find_all_by_sensor_id(:sensor_id), :id, :data, options = { :prompt => "" } ) %>
  <br/>
<div style="display:none">
  Readings:
  <%#= grouped_collection_select(:readings, :sensor_id, @sensors, :readings, :id, :id, :data) %><br/>
  Testing Valid Value Ranges<%= select(:sensor, :value, @sensors[2].valid_value_range() ) %><br/>
</div> <!-- "display:none" -->
  <%= submit_tag("Choose Sensor and Reading") %>
<% end %>
