<% title "Rules" %>

<h1>Listing rules</h1>

<% @rules.each do |rule| %>
<div class="rule-entry">
	<div>
		Rule <%= rule.id %><br/>
		<%= rule.rule %>
	</div>
	<div>
		Description<br/>
		<%= rule.description %>
	</div>
	<div>
		<%= link_to 'Show', rule %> | 
		<%= link_to 'Edit', edit_rule_path(rule) %> | 
		<%= link_to 'Destroy', rule, :confirm => 'Are you sure?', :method => :delete %>
	</div>
	<br/>
</div> <!-- rule-entry -->
<% end %>


<div style="display:none">
A rule will look like<br/>
<pre>
if (Sensor.where("name = 'Sensor1'").first.readings.last.data > 0.to_s)
  a = Actuator.where("name = 'actuator1'").first;
  a.command.data = 1;
  a.save;
end;
</pre>
</div>

<br />

<%= link_to 'Playing', new_rule_path %> | 

<%= link_to 'Home', root_path %> | 
<%= link_to 'New Rule', new_rule_path %>
