<% title "Show Rule" %>

<p id="notice"><%= notice %></p>

<p>
  <b>Rule:</b>
  <%= @rule.rule %>
</p>

<p>
  <b>Description:</b>
  <%= @rule.description %>
</p>

<br/>
<%= link_to 'Home', root_path %> | 
<%= link_to 'Back', rules_path %> | 
<%= link_to 'Edit Description', edit_rule_path(@rule) %>
