<%= form_for(@command, :url => actuator_commands_path(@actuator)) do |f| %>
  <% if @command.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@command.errors.count, "error") %> prohibited this command from being saved:</h2>

      <ul>
      <% @command.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data %><br />
    <%= f.text_field :data %>
  </div>
  <div class="field">
    <%= f.label :actuator_id %><br />
    <%= f.text_field :actuator_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
