<h1>Readings for <%=h @actuator.name %></h1>

<table>
  <tr>
    <th>Data</th>
    <th>Time</th>
    <th>Show/Edit/Destroy</th>
  </tr>

  <% @commands.reverse_each do |command|  %>
  <tr>
    <td><%=h command.data %></td>
    <td><%=h command.updated_at %></td>
    <td><%= link_to 'Show', actuator_command_path(@actuator, command) %>/<%= link_to 'Edit', edit_actuator_command_path(@actuator, command) %>/<%= link_to 'Destroy', actuator_command_path(@actuator, command),
            :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
  <% end %>
</table>

<br/>

<%= link_to 'Back to actuator', actuator_path(@actuator) %> |
<%= link_to 'New command', new_actuator_command_path(@actuator) %>


