<!DOCTYPE html>
<html>
<head>
	<title>SEEU - <%= yield(:title) || "Home" %></title>	
	<%= stylesheet_link_tag :all %>
	<%= javascript_include_tag 'jquery-latest.min.js' %>
	<%= javascript_include_tag 'rails' %>
	<%= javascript_include_tag "application.js" %>
	<script language="javascript" type="text/javascript">
		//$j = jQuery.noConflict();
		//<%= javascript_include_tag 'http://code.jquery.com/jquery-latest.min.js' %>
	</script>
	<%= csrf_meta_tag %>
</head>
<body>
	<div id="page">
		<div id="content">
			<!-- ###### -->
			<!-- HEADER -->
			<!-- ###### -->
			<div id="header">
				<%= link_to 'SEEU', root_path %>
			</div> <!-- header -->

			<%= yield %>

		</div> <!-- content -->
			
		<div id="footer">
			&copy; <%= link_to 'Seth Holloway', 'http://www.sethholloway.com/' %> - 
			<%= link_to 'MPC', 'http://mpc.ece.utexas.edu/' %> - 
			<%= link_to 'The University of Texas at Austin', 'http://www.utexas.edu/' %>
		</div> <!-- footer -->
	</div> <!-- page -->
</body>
</html>